{% extends "./base.html" %}

{% block title %} Principal - Anotaciones {% endblock %}

{% block body %}

<h1>Página principal de anotaciones</h1>
<button type="submit" class="button" disabled>
    Prueba
</button>

<div class="columns">
    <div class="column">
      <p class="bd-notification is-primary">First column</p> 
    </div>
    <div class="column">
      Second column
    </div>
    <div class="column">
      Third column
    </div>
    <div class="column">
      Fourth column
    </div>
  </div>


{% endblock %}